
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 30px;
	margin: 5px 11px;
      padding:10%;
	/*filter: Alpha(Opacity=50);/*IE7 fix*/
	/*opacity: 0.5;*/
	
	background: #ffffff;
      transition:all ease .2s;

      border:1px solid #8e8e8e;
      font-size:20px;
      font-weight:700;
      color:#8e8e8e;
      
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	*/filter: Alpha(Opacity=100);/*IE7 fix*/
	/*opacity: 1;*/
      background: #6aa8a7;
      color:#fff;
      
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
}
